body {
  background-color: crimson;
}
.title {
  text-align: center;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: none;
}

.button {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  background-color: aliceblue;
  border: none;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
}

.product {
  width: 25%;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  color: #222;
  background-color: white;
}
